@{
    ViewData["Title"] = "Home Page";
}

@model ProjectsListViewModel

    <h1>Water Project</h1>

        @foreach (Project p in Model.Projects)
        {
            <h2>@p.ProjectName</h2>
            <ul>
                <li>Project Type: @p.ProjectType</li>
                <li>Program: @p.ProgramName</li>
                <li>Project Impact: @p.ProjectImpact</li>
                <li>Date: @p.ProjectInstallation</li>
                <li>Project Phase: @p.ProjectPhase</li>
            </ul>

        }

<div page-model="@Model.PaginationInfo" page-action="Index"></div>